@media screen and (max-width: 766px) and (min-width: 280px) and (orientation: portrait) {
    /* animations */
    @keyframes ball {
        0% {
            transform: rotateY(0deg) translateX(0vw);
            animation-timing-function: ease-in;
        }
        30% {
            transform: rotateY(0deg) translateX(0vw);
            animation-timing-function: ease-in;
        }
        60% {
            transform: rotateY(0deg) translateX(0vw);
            animation-timing-function: ease-in;
        }

        70% {
            transform: translateX(64vw);
            z-index: 3;
            animation-timing-function: ease-out;
        }
        80% {
            transform: translateX(63.2vw) translateY(-3vh);
            z-index: 3;
            animation-timing-function: ease-out;
        }
        100% {
            transform: translateX(62vw);
            z-index: 3;
            animation-timing-function: ease-in-out;
        }
    }
    @keyframes lloris {
        0% {
            left: 0px;
        }
        60% {
            transform: rotateY(180deg) scaleY(0.85) translateY(3.5vh);
        }
        80% {
            transform: rotateY(180deg) rotateZ(-90deg) translateX(-10vh) translateY(1vh) rotateX(55deg) scaleY(0.5);
        }
        100% {
            transform: rotateY(180deg) rotateZ(-90deg) translateX(-10vh) translateY(1vh) rotateX(55deg) scaleY(0.5);
        }
    }

    /* normal */
    .goal {
        width: 90% !important;
    }
    .legs {
        
        left:2vw!important;
    }
}
